<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataBase.Properties.Settings.ShoesConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Shoes.accdb"
            providerName="System.Data.OleDb" />
        <add name="DataBase.Properties.Settings.ShoesConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Shoes.accdb"
            providerName="System.Data.OleDb" />
        <add name="DataBase.Properties.Settings.ShoesConnectionString2"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Shoes.accdb"
            providerName="System.Data.OleDb" />
        <add name="DataBase.Properties.Settings.ShoesConnectionString3"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\Programming\db\lab2\DataBase\Shoes.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>